<div class="container-fluid">
  <div class="row align-items-center text-center full-height">
    <div  style="display: flex; flex-direction: column; align-items: center; text-align: center; height: auto;">
      <h1>Seja bem vindo ao</h1>
      <h2 style="margin-top: 2%;">Sistema de usuários</h2>
    </div>

    <div style="display: flex; flex-direction: row; height: 100; ">
      <div style="width: 10%; border: 3px rgb(4, 16, 132); display: flex; flex-direction: column;">
        <div >
          <h3>Usuários</h3>
          <h4 style="margin-top: 10%;">54</h4>
        </div>
      </div>

      <div style="width: 100%;">
        <!--style="table-layout: auto; background-color: black; width: 100%;"    class="col"-->
        <table class="table table-success table-hover table-item text-center" >
          <thead>
            <tr>
              <th scope="col">Função</th>
              <th scope="col">Quantidade de usuários</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Analista de dados</td>
              
              <td>23</td>
            </tr>
            <tr>
              <td>Líder técnico</td>
              <td>5</td>
            </tr>
            <tr>
              <td>Engenheiro de FE</td>
              <td>12</td>
            </tr>
            <tr>
              <td>Engenheiro de BE</td>
              
              <td>14</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
